<% if @project.module_enabled?(:redmine_2chat) %>
  <div id="telegram-links" style="float: right;">
    <% if @issue.telegram_group.present? && @issue.telegram_group.shared_url.present? %>
      <% if User.current.allowed_to?(:view_chat_link, @issue.project) %>
        <%= link_to @issue.telegram_group.shared_url, target: '_blank' do %>
          <%= image_tag '/plugin_assets/redmine_chat_telegram/images/telegram-icon.png' %>
          <%= t 'redmine_2chat.link.enter_chat' %>
        <% end %>
      <% end %>

      <% if User.current.allowed_to?(:close_chat, @issue.project) %>
        | <%= link_to t('redmine_chat_telegram.link.close_chat'), telegram_group_chat_path(@issue.id),
                      method: :delete, data: { confirm: l(:text_are_you_sure) } %>
      <% end %>

    <% else %>
      <% if User.current.allowed_to?(:create_chat, @project) && !@issue.closed? %>
        <%= link_to telegram_group_chats_path(issue_id: @issue.id), method: :post, remote: true do %>
          <%= image_tag '/plugin_assets/redmine_chat_telegram/images/telegram-inactive-icon.png' %>
          <%= t 'redmine_2chat.link.create_chat' %>
        <% end %>
      <% end %>
    <% end %>

    <% if User.current.allowed_to?(:view_chat_archive, @issue.project) && @issue.chat_messages.present? %>
      <% if !@issue.closed? || User.current.allowed_to?(:close_chat, @issue.project) %>
        |
      <% end %>
      <%= link_to t('redmine_2chat.link.archive'), issue_chat_messages_path(@issue.id), remote: true %>
    <% end %>

  </div>
  <div style="clear:both;"></div>
<% end %>

