<% unless Redmine::Plugin.installed?('redmine_sidekiq') %>
  <h1 style="text-align: center">
    !!! <a href="https://github.com/ogom/redmine_sidekiq" target="_blank">redmine_sidekiq</a>
    <%= t('redmine_2chat.settings.required') %> !!!
  </h1>
<% end %>

<p>
  <label>
    <%= t 'redmine_2chat.settings.daily_report' %>
  </label>
  <%= check_box_tag 'settings[daily_report]', '1', @settings['daily_report'] %>
</p>

<p>
  <label>
    <%= t 'redmine_2chat.settings.kick_locked' %>
  </label>
  <%= check_box_tag 'settings[kick_locked]', '1', @settings['kick_locked'] %>
</p>

<p>
  <label>
    <%= t 'redmine_2chat.settings.active_platform' %>
  </label>
  <%= select_tag 'settings[active_platform]', options_for_select(Redmine2chat.platforms.keys.map { |p| [p.titleize, p] }, @settings['active_platform']) %>
</p>

<p>
  <label>
    <%= t 'redmine_2chat.settings.close_issue_statuses' %>
  </label>
  <%= select_tag 'settings[close_issue_statuses]',
  options_for_select(IssueStatus.sorted.map { |s| [s.name, s.id] }, @settings['close_issue_statuses']), multiple: true %>
<em class="info"><%= t 'redmine_2chat.settings.close_issue_statuses_hint' %></em>
</p>
