<% if message.is_system? %>
  <div class="telegram-system-message">
    <span class="telegram-message-author <%= "user-color-#{color_number_for_user(message.user_id)}" %>">
      <%= message.author_name %>
    </span>
    <span>
      <% if message.system_data.present?  %>
        <%= t "redmine_chat_telegram.archive.#{message.message}", system_data: message.system_data %>
      <% else %>
        <%= t "redmine_chat_telegram.archive.#{message.message}" %>
      <% end %>
    </span>
  </div>
<% else %>
  <div class="telegram-message" id="telegram_message_<%= message.id %>" data-sent-at=<%= message.sent_at.to_i %>>
    <%= check_box_tag 'telegram_message_ids[]', message.id, false, class: "telegram-message-checkbox" %>
    <time><%= format_time message.sent_at, false %></time>
    <div class="telegram-author-photo <%= "user-bgcolor-#{color_number_for_user(message.user_id)}" %>">
      <span>
        <%= message.author_initials %>
      </span>
    </div>
    <div class="telegram-message-body">
      <span class="telegram-message-author <%= "user-color-#{color_number_for_user(message.user_id)}" %>">
        <%= message.author_name %>
      </span>
      <div class="telegram-message-text">
        <%= message.message %>
      </div>
    </div>
  </div>
<% end %>
