<div class="archive-top">
  <div class="archive-datetimepicker">
    <span><%= t 'redmine_2chat.archive.goto_date' %>:</span>
    <input id="datetimepicker" type="text" placeholder="<%= t 'redmine_2chat.archive.select_date' %>" value="<%= params[:to_date] %>">
  </div>
  <div class="archive-search">
    <span><%= t 'redmine_2chat.archive.search' %>:</span>
    <input
      size="33"
      id="telegram-search-input"
      type="text"
      value="<%= params[:search] %>"
      placeholder="<%= t 'redmine_2chat.archive.input_search_query' %>">
  </div>
  <div style="clear: both;"></div>
  <hr>
</div>

<div class='telegram-message-list'>
  <%= render partial: 'archive_form' %>
</div>

<hr>
<%= submit_tag t('redmine_2chat.archive.copy_to_issue'),
  onclick: "$('.archive-form').submit()",
  class: 'archive-submit-button'%>
